body {
   font-family: "Lexend", serif;
   font-optical-sizing: auto;
   font-style: normal;
}

@keyframes gradient {
   0% {
      background-position: 0% 25%;
   }
   50% {
      background-position: 60%;
   }
   100% {
      background-position: 25% 0%;
   }
}

.studentSection {
   height: auto;
   width: auto;
   background: linear-gradient(-45deg, #ffffff, #0f699083, #ffffff, #ffffff);
   background-size: 400% 400%;
   animation: gradient 6s ease infinite;
}

/* HTML: <div class="loader"></div> */
.loader {
   height: 50px;
   width: 50px;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 8px solid #0f6990;
   animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
   }
   12.5% {
      clip-path: polygon(
         50% 50%,
         0 0,
         50% 0%,
         100% 0%,
         100% 0%,
         100% 0%,
         100% 0%
      );
   }
   25% {
      clip-path: polygon(
         50% 50%,
         0 0,
         50% 0%,
         100% 0%,
         100% 100%,
         100% 100%,
         100% 100%
      );
   }
   50% {
      clip-path: polygon(
         50% 50%,
         0 0,
         50% 0%,
         100% 0%,
         100% 100%,
         50% 100%,
         0% 100%
      );
   }
   62.5% {
      clip-path: polygon(
         50% 50%,
         100% 0,
         100% 0%,
         100% 0%,
         100% 100%,
         50% 100%,
         0% 100%
      );
   }
   75% {
      clip-path: polygon(
         50% 50%,
         100% 100%,
         100% 100%,
         100% 100%,
         100% 100%,
         50% 100%,
         0% 100%
      );
   }
   100% {
      clip-path: polygon(
         50% 50%,
         50% 100%,
         50% 100%,
         50% 100%,
         50% 100%,
         50% 100%,
         0% 100%
      );
   }
}
@keyframes l20-2 {
   0% {
      transform: scaleY(1) rotate(0deg);
   }
   49.99% {
      transform: scaleY(1) rotate(135deg);
   }
   50% {
      transform: scaleY(-1) rotate(0deg);
   }
   100% {
      transform: scaleY(-1) rotate(-135deg);
   }
}
